body{
    background-color: rgb(227, 248, 252);
}
h1{
    color: black;
    text-align: center ;
}
#Formu{
    width: 830px; 
    margin: 0 auto;
}
#Principal{
    border: 2px solid black;
    padding: 20px;
    display: flex;
    margin-left: 10px;
}

#parraf{
    width: 33%;
    margin-left: 20% ;
}
p{
    border: 2px solid rgb(221, 240, 52);
    margin-top: -1%;
    padding: 3%;
 
    text-align: justify;
}
.table-container{
    margin-top: 15px;
    margin-left: 10px;
}